@model SERVIS_WEB_PROYECTO.Entity.Alumno

@{
    ViewBag.Title = "Delete";
}

<h2 class="text-center">ELIMINAR</h2>

<h3 class="text-center">Seguro que deseas eliminar el alumno?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.codAlumno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codAlumno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nomAlumno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomAlumno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apeAlumno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apeAlumno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direAlumno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direAlumno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dniAlumno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dniAlumno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correoAlumno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correoAlumno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.celuAlumno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.celuAlumno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="text-center">
            <input type="submit" value="Si" class="btn btn-danger" /> |
            @Html.ActionLink("No", "Index", null, new {@class="btn btn-success"})
        </div>
    }
</div>
