@model SERVIS_WEB_PROYECTO.Entity.Profesor

@{
    ViewBag.Title = "Delete";
}

<h2 class="text-white text-center bg-danger" style="font-family: 'Exotc350 Bd BT'">ELIMINAR PROFESOR</h2>

<h3 class="text-center">¿Estás seguro de que quieres eliminar este registro?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt class="text-danger" style="height:30px">
            @Html.DisplayNameFor(model => model.codProf)
        </dt>

        <dd class="">
            @Html.DisplayFor(model => model.codProf)
        </dd>

        <dt class="text-danger" style="height:30px">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd class="">
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt class="text-danger" style="height:30px">
            @Html.DisplayNameFor(model => model.apellido)
        </dt>

        <dd class="">
            @Html.DisplayFor(model => model.apellido)
        </dd>

        <dt class="text-danger" style="height:30px">
            @Html.DisplayNameFor(model => model.dni)
        </dt>

        <dd class="">
            @Html.DisplayFor(model => model.dni)
        </dd>

        <dt class="text-danger" style="height:30px">
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd class="">
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt class="text-danger" style="height:30px">
            @Html.DisplayNameFor(model => model.celular)
        </dt>

        <dd class="">
            @Html.DisplayFor(model => model.celular)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color col-sm-offset-1">
            <input type="submit" value="Delete" class="btn btn-naranja" /> |
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-success" })
        </div>
    }
</div>
