@model SERVIS_WEB_PROYECTO.Entity.Profesor

@{
    ViewBag.Title = "Details";
}

<h2 class="text-center bg-success">DETALLES DE PROFESOR</h2>

<div class="table table-striped">
    <hr />
    <dl class="dl-horizontal">
        <dt class="text-danger" style="height:30px">
            @Html.DisplayNameFor(model => model.codProf)
        </dt>

        <dd class="">
            @Html.DisplayFor(model => model.codProf)
        </dd>

        <dt class="text-danger" style="height:30px">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd class="">
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt class="text-danger" style="height:30px">
            @Html.DisplayNameFor(model => model.apellido)
        </dt>

        <dd class="">
            @Html.DisplayFor(model => model.apellido)
        </dd>

        <dt class="text-danger" style="height:30px">
            @Html.DisplayNameFor(model => model.dni)
        </dt>

        <dd class="">
            @Html.DisplayFor(model => model.dni)
        </dd>

        <dt class="text-danger" style="height:30px">
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd class="">
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt class="text-danger" style="height:30px">
            @Html.DisplayNameFor(model => model.celular)
        </dt>

        <dd class="">
            @Html.DisplayFor(model => model.celular)
        </dd>

    </dl>
</div>
<p class="col-sm-offset-1">
    @*@Html.ActionLink("Edit", "Edit", new {  id = Model.codProf  }) |*@
    @Html.ActionLink("Retornar lista", "Index", null, new { @class = "btn btn-celeste" })
</p>
