@model IEnumerable<SERVIS_WEB_PROYECTO.Entity.Profesor>

@{
    ViewBag.Title = "Index";
}

<!--#region Script para exportar excel - Carlos Vera-->
<script src="~/Content/FileSaver.js"></script> @*could be downloaded from https://github.com/eligrey/FileSaver.js/blob/master/src/FileSaver.js*@
<script>
    function fnExcelReport(id, name) {
        var tab_text = '<html xmlns: x="urn:schemas-microsoft-com:office:excel">';
        tab_text = tab_text + '<head><xml><x: ExcelWorkbook><x: ExcelWorksheets><x: ExcelWorksheet>';
        tab_text = tab_text + '<x: Name>Test Sheet</x: Name>';
        tab_text = tab_text + '<x: WorksheetOptions><x: Panes></x: Panes></x: WorksheetOptions ></x: ExcelWorksheet > ';
        tab_text = tab_text + '</x:ExcelWorksheets></x:ExcelWorkbook></xml></head><body>';
        tab_text = tab_text + "<table border='1px' style='color:black'>";


        var exportTable = $('#' + id).clone();
        exportTable.find('th').last().remove();
        exportTable.find('html').each(function (index, elem) { $(elem).remove(); });
        exportTable.find('a').each(function (index, elem) { $(elem).remove(); });

        tab_text = tab_text + exportTable.html();
        tab_text = tab_text + '</table></body></html>';
        var fileName = "Profesores" + '.xls';

        //Save the file
        var blob = new Blob([tab_text], { type: "application/vnd.ms-excel;charset=utf-8" })
        window.saveAs(blob, fileName);
    }
</script>
<!--#endregion -->


<h2 class="text-center bg-warning" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">LISTADO DE PROFESORES</h2>
<br />
<p class="col-sm-offset-5">
    @Html.ActionLink("NUEVO PROFESOR", "Create", null, new { @class = "btn btn-chocolate" })
    <button class="btn btn-primary" onclick="javascript: fnExcelReport('dataTable', 'data')">Export To Excel</button>
</p>
<br />
<table class="table table-condensed tab-content" id="dataTable">
    <tr class="bg-primary h4">
        <th class="text-center">
            @Html.DisplayNameFor(model => model.codProf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dni)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.celular)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="bg-warning">
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.codProf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.celular)
            </td>
            <td>
                @Html.ActionLink("EDITAR", "Edit", new { id = item.codProf }, new { @class = "btn btn-celeste" }) |
                @Html.ActionLink("DETALLES", "Details", new { id = item.codProf }, new { @class = "btn btn-verde" }) |
                @Html.ActionLink("ELIMINAR", "Delete", new { id = item.codProf }, new { @class = "btn btn-naranja" })
            </td>
        </tr>
    }

</table>
