@model IEnumerable<SERVIS_WEB_PROYECTO.Entity.Matricula>

@{
    ViewBag.Title = "Index";
}

<!--#region Script para exportar excel - Carlos Vera-->
<script src="~/Content/FileSaver.js"></script> @*could be downloaded from https://github.com/eligrey/FileSaver.js/blob/master/src/FileSaver.js*@
<script>
    function fnExcelReport(id, name) {
        var tab_text = '<html xmlns: x="urn:schemas-microsoft-com:office:excel">';
        tab_text = tab_text + '<head><xml><x: ExcelWorkbook><x: ExcelWorksheets><x: ExcelWorksheet>';
        tab_text = tab_text + '<x: Name>Test Sheet</x: Name>';
        tab_text = tab_text + '<x: WorksheetOptions><x: Panes></x: Panes></x: WorksheetOptions ></x: ExcelWorksheet > ';
        tab_text = tab_text + '</x:ExcelWorksheets></x:ExcelWorkbook></xml></head><body>';
        tab_text = tab_text + "<table border='1px' style='color:black'>";


        var exportTable = $('#' + id).clone();
        exportTable.find('th').last().remove();
        exportTable.find('html').each(function (index, elem) { $(elem).remove(); });
        exportTable.find('a').each(function (index, elem) { $(elem).remove(); });

        tab_text = tab_text + exportTable.html();
        tab_text = tab_text + '</table></body></html>';
        var fileName = "Matriculas" + '.xls';

        //Save the file
        var blob = new Blob([tab_text], { type: "application/vnd.ms-excel;charset=utf-8" })
        window.saveAs(blob, fileName);
    }
</script>
<!--#endregion -->

<h2 class="text-center">:::: LISTA DE MATRICULA ::::</h2>
<br />
<p>
    @Html.ActionLink("Nueva Matricula", "Create", null, new { @class = "btn btn-success" })
    <button class="btn btn-primary" onclick="javascript: fnExcelReport('dataTable', 'data')">Export To Excel</button>

</p>
<br />
<table class="table table-bordered table-striped" id="dataTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.codMatricula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codAlumno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idCarrera)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ciclo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idSede)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.codMatricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.codAlumno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idCarrera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ciclo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idSede)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.codMatricula }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Detalles", "Details", new { id = item.codMatricula }, new { @class = "btn btn-info" })
                @Html.ActionLink("Eliminar", "Delete", new { id = item.codMatricula }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
