@model IEnumerable<SERVIS_WEB_PROYECTO.Entity.Asignatura>

@{
    ViewBag.Title = "Index";
}


    <h2> <center>ASIGNATURAS</center></h2>

    <p>
        @Html.ActionLink("Insertar Asignatura", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idAsignatura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomAsignatura)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idAsignatura)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nomAsignatura)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.idAsignatura }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Details", "Details", new { id = item.idAsignatura }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.idAsignatura }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>

